body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

video,
iframe{
    object-fit: contain;
    object-position: center center;
    height: 100%;
    width: 100%;
}