body {
    margin: 0;
    padding: 0;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
    background-color: black;
}

video {
    display: block;
    object-fit: contain;
    object-position: center;
    height: 100%;
    width: 100%;
}

#player {
    height: 100%;
    width: 100%;
}

iframe {
    display: block;
    border: 0;
    height: 100%;
    width: 100%;
}